<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../lesson_1/css/style.css">
    <title>Интернет-магазин</title>

</head>

<body>
<div id="root">
    <header class="header">
        <div class="container">
            <nav class="header__nav">
                <div class="nav__logo">
                    <h1 class="nav__title">eShop</h1>
                </div>
                <div class="nav__search">
                    <div>
                        <input type="text" class="goods-search" v-model="search"/>
                        <custom-button v-on:click="filterItems">Искать</custom-button>
                    </div>
                    <div>
                        <custom-button v-on:click="setVisionCard">Корзина</custom-button>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="goods-list">
                <goods-item v-for="item in filteredItems" v-bind:item="item"></goods-item>
            </div>
        </div>
    </main>

    <basket-goods v-if="cardIsVision" v-on:closeclick="setVisionCard"></basket-goods>

    <!-- <div class="fixed-area" v-if="isVisibleCart">
        <div class="basket-card">
            <div class="basket-card__header">
                <h1 class="basket-card__header__title">basket card</h1>
                <div class="basket-card__header__delete-icon" @click="setVisibleCard"></div>
            </div>
            <div class="basket-card__content">
                content
            </div>
        </div>
    </div> -->
    <div>{{ calculatePrice }}</div>
</div>
    <script src="https://cdn.jsdeLivr.net/npm/vue@2.6.14"></script>
    <script src="../lesson_1/js/script.js"></script>
    <!-- <script src="../lesson_1/js/index.js"></script> -->
</body>

</html>